extends templates/main-layout.pug

block content
    h1.lhs.mb2 Tilt Data Server
    
    .r
        .c6
            h2.lhs.ac
                a(href='/upload').lhd.p3.bg-ylw.noir Upload a CSV
        .c6
            h2.lhs.ac
                a(href='/beers').lhd.p3.bg-ylw.noir View Beers
                
